extends layout
block extra-scripts
    script(src = jsHost + "/EIE4432-WEB/build/frontend/login.bundle.js")
    //- script(src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")
    //- style
        //- include ../../style/login.css

block content
    #full-page
        #wrapping
            #image-holder
        #form-holder
            form#form-content(action="", method="post")
                label Please Login with your User ID and Password
                span#notice-word.form-element &nbsp
                input.form-element.form-control#id_input(type="text" name='id' placeholder="ID")
                input.form-control.form-element#psd_input(type="password" name='psd' placeholder="Password")
                .form-element
                    input.toggle#toggle_button(type="checkbox" checked data-toggle="toggle" data-on="I am a normal Customer" data-witdh="180" data-off="I am a restaurant Owner" data-offstyle="success" data-onstyle="main")
                button#confirm-button.btn.btn-main.btn-md.btn-block.form-element Confirm
                .form-element
                    a#register-link(href="http://localhost/EIE4432-WEB/src/server/register.php") not registered yet? please click here