extends layout
block extra-scripts
    script(src = "../../build/frontend/myorder.bundle.js")


block content
    #full-page
        nav.navbar.navbar-default#topbar
            a.navbar-left#myp(href="/EIE4432-WEB/src/server/restaurantList.php") Easy order
            button.btn.btn-main.navbar-right#logout-btn(for="#") Logout
            a.navbar-right#author(for="#") Hello, !{uname}

    #total-content
        #transparent-backboard
            .grid#fixpositiongrid
            