extends layout
block extra-scripts
    script(src = "/EIE4432-WEB/build/frontend/myprofile.bundle.js")

block content
    #full-page
        nav#topbar.navbar.navbar-default
            a.navbar-left#myp(for="#") My Profile
            a.navbar-left#restaurant-order-link(href="/EIE4432-WEB/src/server/restaurantorder.php") View Orders 

            button.btn.btn-main.navbar-right#logout-btn(for="#") Logout
            a.navbar-right#author(for="") Hello, !{rname}
        #total-content
            #transparent-backboard
                .totalform
                    .navbar-form.navbar-left#thumbnail(action="")
                        row
                            .col-lg-6#left-div-main
                                label#thumlabel Thumbnail
                                div.container-fluid#image 
                                    img(src="#", alt="your image")#yourimg
                                div
                                    label#uploadlabel(for="picupload" style="font-size:10px") Choose file to upload.
                                    input.btn.btn-default#picupload(type="file") 
                            .col-lg-6#right-div-main
                                label#Restaurant_Name Restaurant Name
                                br
                                input.form-control#Restaurant_Name-input(type="text",placeholder="Name")
                                br
                                label#Address Address
                                br
                                input.form-control#Address-input(type="text",placeholder="Address")

                    form.navbar-form.navbar-left#basicinfo(action="")
                        row
                            .col-lg-6#left-div-sub
                                label#Phone Phone
                                br
                                input.form-control#Phone-input(type="text",placeholder="Phone")
                                br
                                label#cuisine Cuisine
                                .dropdown#cusine-selection-dropdown
                                    button.btn-main-white.btn.btn-md.dropdown-toggle#dropdownMenu1(type="button" data-toggle="dropdown" value="1234") All Cusine&nbsp
                                        span.caret
                                    ul.dropdown-menu#cuisineList(aria-labelledby="dropdownMenu1")
                                        li
                                            a.dropdown-selection(href="#", value="japanese") Japanese
                                        li
                                            a.dropdown-selection(href="#", value="western") Western
                                        li
                                            a.dropdown-selection(href="#", value="korean") Korean
                                        li
                                            a.dropdown-selection(href="#", value="indian") Indian
                                        li
                                            a.dropdown-selection(href="#", value="chinese") Chinese
                                        li
                                            a.dropdown-selection(href="#", value="thai") Thai
                                label#business-hour Business Hour
                                br
                                input.form-control#business-hour-begin-input(type="text",placeholder="11:00")
                                text(style="margin-left:10px") To
                                input.form-control#business-hour-end-input(type="text",placeholder="24:00")
                        row
                        .col-lg-6#right-div-sub
                            label#Restaurant_Size Restaurant Size
                            br
                            input.form-control#Restaurant_Size-input(type="text",placeholder="Size")
                            br
                            label#Website Website
                            br
                            input.form-control#Website-input(type="text",placeholder="Website")
                            br
                            label#Average_Cost Average Cost
                            br
                            input.form-control#Average_Cost-begin-input(type="text",placeholder="0")
                            text(style="margin-left:4px") HKD  To
                            input.form-control#Average_Cost-end-input(type="text",placeholder="1000")
                            text(style="margin-left:4px") HKD

                    form.navbar-form.navbar-left#submitbtn(action="")
                        button#InfoConfirm.btn.btn-default Confirm