html,body, .container-fluid, .content-block, #full-page, #wrapping{
    height: 100%;
    width: 100%;
}

#wrapping{
    float: left;
}

.toggle {
    width: 180px;
}


.form-element {
    margin-top: 20px;
}


.btn-main {
    background-color: #6a3906;
    color: white;
}
.btn-main:hover {
    background-color:#8F4D08;
    color: white;
}